//Primary
$primary-100: #ffedcc;
$primary-200: #ffd599;
$primary-300: #ffb866;
$primary-400: #ff9b3f;
$primary-500: #ff6c00;
$primary-600: #db5000;
$primary-700: #b73800;
$primary-800: #932500;
$primary-900: #7a1800;

$primary-500-transparent-08: rgba(255, 108, 0, 0.08);
$primary-500-transparent-16: rgba(255, 108, 0, 0.16);
$primary-500-transparent-24: rgba(255, 108, 0, 0.24);
$primary-500-transparent-32: rgba(255, 108, 0, 0.32);
$primary-500-transparent-40: rgba(255, 108, 0, 0.40);
$primary-500-transparent-48: rgba(255, 108, 0, 0.48);

//Basic
$white: #fff;
$basic-100: #fafafb;
$basic-200: #f5f6f7;
$basic-300: #e5e6e8;
$basic-400: #cecfd1;
$basic-500: #b0b1b3;
$basic-600: #7e7179;
$basic-700: #5f5365;
$basic-800: #453a51;
$basic-900: #332843;
$basic-1000: #2a1e35;

$white-500-transparent-08: rgba(255, 255, 255, 0.08);
$white-500-transparent-16: rgba(255, 255, 255, 0.16);
$white-500-transparent-24: rgba(255, 255, 255, 0.24);
$white-500-transparent-32: rgba(255, 255, 255, 0.32);
$white-500-transparent-40: rgba(255, 255, 255, 0.40);
$white-500-transparent-48: rgba(255, 255, 255, 0.48);

$basic-500-transparent-08: rgba(176, 177, 179, 0.08);
$basic-500-transparent-16: rgba(176, 177, 179, 0.16);
$basic-500-transparent-24: rgba(176, 177, 179, 0.24);
$basic-500-transparent-32: rgba(176, 177, 179, 0.32);
$basic-500-transparent-40: rgba(176, 177, 179, 0.40);
$basic-500-transparent-48: rgba(176, 177, 179, 0.48);

//Success
$success-100: #eefbd1;
$success-200: #d9f8a5;
$success-300: #b9ec75;
$success-400: #97d950;
$success-500: #6ac11f;
$success-600: #51a516;
$success-700: #3b8a0f;
$success-800: #286f09;
$success-900: #1b5c05;

$success-500-transparent-08: rgba(106, 193, 31, 0.08);
$success-500-transparent-16: rgba(106, 193, 31, 0.16);
$success-500-transparent-24: rgba(106, 193, 31, 0.24);
$success-500-transparent-32: rgba(106, 193, 31, 0.32);
$success-500-transparent-40: rgba(106, 193, 31, 0.40);
$success-500-transparent-48: rgba(106, 193, 31, 0.48);

//Info
$info-100: #cbfefa;
$info-200: #98fdfd;
$info-300: #64f0fb;
$info-400: #3eddf8;
$info-500: #00bff4;
$info-600: #0094d1;
$info-700: #006faf;
$info-800: #004f8d;
$info-900: #003975;

$info-500-transparent-08: rgba(0, 191, 244, 0.08);
$info-500-transparent-16: rgba(0, 191, 244, 0.16);
$info-500-transparent-24: rgba(0, 191, 244, 0.24);
$info-500-transparent-32: rgba(0, 191, 244, 0.32);
$info-500-transparent-40: rgba(0, 191, 244, 0.40);
$info-500-transparent-48: rgba(0, 191, 244, 0.48);

//Warning
$warning-100: #fef6cb;
$warning-200: #feea98;
$warning-300: #fedb65;
$warning-400: #fdcc3f;
$warning-500: #fcb400;
$warning-600: #d89400;
$warning-700: #b57600;
$warning-800: #925b00;
$warning-900: #784800;

$warning-500-transparent-08: rgba(252, 180, 0, 0.08);
$warning-500-transparent-16: rgba(252, 180, 0, 0.16);
$warning-500-transparent-24: rgba(252, 180, 0, 0.24);
$warning-500-transparent-32: rgba(252, 180, 0, 0.32);
$warning-500-transparent-40: rgba(252, 180, 0, 0.40);
$warning-500-transparent-48: rgba(252, 180, 0, 0.48);

//Danger
$danger-100: #ffe7d5;
$danger-200: #ffc8ac;
$danger-300: #ffa382;
$danger-400: #ff8063;
$danger-500: #ff4530;
$danger-600: #db2623;
$danger-700: #b71821;
$danger-800: #930f22;
$danger-900: #7a0922;

$danger-500-transparent-08: rgba(255, 69, 48, 0.08);
$danger-500-transparent-16: rgba(255, 69, 48, 0.16);
$danger-500-transparent-24: rgba(255, 69, 48, 0.24);
$danger-500-transparent-32: rgba(255, 69, 48, 0.32);
$danger-500-transparent-40: rgba(255, 69, 48, 0.40);
$danger-500-transparent-48: rgba(255, 69, 48, 0.48);

$ghost-white: #f9f9f9;