@import "src/assets/css/settings/colors";

.float-label {
  position: relative;

  .label {
    font-size: 14px;
    line-height: 1.29;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 16px;
    top: 16px;
    transition: 0.2s ease all;
    color: $basic-600;
    z-index: 1;
  }
  .label-float {
    top: 6px;
    font-size: 12px;
  }
}
